input, select {
    border: 1px solid #000;
    padding: 2px;
    margin: 10px 5px 5px 10px;
    width: 25%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    border-radius: 5px;
}

label {
    width: 25%;
    float: left;
    padding: 2px;
    margin: 10px 5px 5px 10px;
}

.error {
    border: 1px solid red;
}

.infobox {
    float: left;
    font-size: small;
    margin-top: 2px;
    margin-left: 10px;
    padding: 2px;
    width: 30%;
}

.flabel {
    float: left;
    width: 22%;
}


