input {
    border: 1px solid #000;
    padding: 5px;
    margin: 0px 5px 5px 10px;
    width: 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    border-radius: 5px;
    display: inline-block;
    font-family: Georgia, serif;
}

input[type="radio"] {
    float: left;
    clear: none;
    padding: 5px;
    margin: 4px 5px 10px 10px;

}

select {
    border: 1px solid #000;
    padding: 5px;
    margin: 0px 5px 5px 10px;
    width: 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    border-radius: 5px;
    display: inline-block;
    font-family: Georgia, serif;   
    float: left; 
}

label {
    width: 45%;
    padding: 5px;
    display: inline-block;
    float: left;
    /*clear: left;*/
    text-align: right;
    height: 18px;
}

.error {
    border: 1px solid red;
}

.infobox {
    float: left;
    font-size: small;
    margin-top: 2px;
    margin-left: 10px;
    padding: 2px;
    width: 30%;
}

.rlabel {
    float: left;
    clear: none;
    padding: 5px;
    margin: 0px 10px 5px 5px; 
    width: 10%;
    text-align: left;
}

.new {
    width: 15%;
}


div {
    clear: both;
}

.mainsec {
    border-bottom: 1px solid black;
    padding: 3px;
}

#cdetails {
    padding: 8px;
}

#assets {
    padding: 8px;
}

.aslabel {
    width: 45%;
    text-align: left;
    padding: 5px;
    margin-left: 5px;
    display: inline-block;
    float: left;
    /*clear: both;*/
    text-align: left;
    height: 18px;

}
